@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #33211d;
  --color-secondary: #da9f5b;
  --color-third: #d99e5b;
  --color-overlay: rgba(51, 33, 29, 0.7);
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --color-over: #33211de5;
  --color-lay: #36221f;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

#banner {
  background: linear-gradient(rgba(51, 33, 29, 0.7), rgba(51, 33, 29, 0.7)),
    url("./images/carousel-1.jpg") no-repeat center / cover;
}

#Content3 {
  background: linear-gradient(rgba(51, 33, 29, 0.7), rgba(51, 33, 29, 0.7)),
    url("./images/bg.jpg") no-repeat center / cover;
}

.mySwiper .swiper-pagination-bullet {
  background-color: #da9f5b; 
  opacity: 1;
  width: 18px;
  height: 18px;
  margin: 0 4px;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #33211d;
  width: 40px;
  border-radius: 14px;
  transition: all 0.5s ease;
}

.mySwiper .swiper-pagination {
  bottom: 20px;
  text-align: center;
}

.loader-bg {
  position: fixed;
  z-index: 99999;
  background-color: #33211d;
  width: 100%;
  height: 100%;
}

.smoke-loader {
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.coffee-cup {
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.smoke-wave {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
  left: 0;
}

.smoke1 {
  width: 6px;
  height: 30px;
  float: left;
  margin-right: 6px;
  margin-left: 0;
  border-radius: 3px;
}

.smoke1:before,
.smoke1:after {
  content: "";
  background: #ffffff;
  position: absolute;
  animation: load 0.9s infinite reverse ease-in-out;
  border-radius: 3px;
}

.smoke2 {
  width: 6px;
  height: 15px;
  float: left;
  margin-right: 6px;
  margin-left: 4px;
  border-radius: 3px;
}

.smoke2:before,
.smoke2:after {
  content: "";
  background: #ffffff;
  position: absolute;
  animation: load 0.6s infinite reverse ease-in-out;
  border-radius: 3px;
  margin-top: 5px;
}

.smoke3 {
  width: 6px;
  height: 30px;
  float: left;
  margin-right: 6px;
  margin-left: 4px;
  border-radius: 3px;
}

.smoke3:before,
.smoke3:after {
  content: "";
  background: #ffffff;
  position: absolute;
  animation: load 0.9s infinite 0.5s reverse ease-in-out;
  border-radius: 3px;
}

@keyframes load {
  0% {
    top: 0;
    height: 30px;
    width: 6px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 29px;
    height: 15px;
    width: 6px;
    opacity: 0;
  }
}


/* @keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-12px);
  }
  60% {
    transform: translateY(-6px);
  }
}

.bounce-btn {
  animation: bounce 2s infinite;
} */

